<a href="https://colab.research.google.com/github/Thiago-Dados2022/arquivos-legais/blob/main/Co%CC%81pia_de_Revisa%CC%83oDS05DAY02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THIAGO BARBOSA DA SILVA 
ID: 73028

Exercícios

In [ ]:
x = 5
print(type(x))

x = 5.0
print(type(x))

x = 5.5
print(type(x))

x = 'DNC'
print(type(x))

x = 1/2
print(type(x))

x = (0.5*2)
print(type(x))

x = 2**4
print(type(x))

x = 2+4
print(type(x))

x = 1000000000
print(type(x))

x = int(input('Digite um dado inteiro: '))
print(type(x))

x = float(input('Digite um dado float: '))
print(type(x))

x = input('Digite um dado string: ')
print(type(x))

x = input('Digite um dado: ')
print (type(x))

In [ ]:
print('-'*50)
print("DS06 - DNC")
print('-'*50)

--------------------------------------------------
DS06 - DNC
--------------------------------------------------

In [ ]:
salario_cientista_de_dados = 10000.00
parcela_bmw = 2500.45
parcela_apartamento = 3500.50
veterinario_romeuzinho = 500.00
luz = 100.80
agua = 80.35
condominio = 800.44
gas = 150.65
valor_a_guardar = salário_cientista_de_dados - parcela_bmw - parcela_apartamento - veterinario_romeuzinho - luz - agua - condominio - gas
print('-'*100)

print('Seu salário de cientista de dados junior é de R$:',salario_cientista_de_dados, 'e seus gastos estão dispostos a seguir: '.format(salario_cientista_de_dados))
print('Parcela da BMW - 250.45 \n''Parcela do apartamento - 3500.5\n''Vetreinario do Romeuzinho - 500\n''Conta de luz - 100.8\n''Conta de água - 80.35\n''Conta de condomínio - 800.44\n''Conta de gás - 150.65')
print('-'*100)
print('O valor disponivel para colocar na poupança é de: R$', valor_a_guardar)

In [ ]:
a = formacao_em_dados = 20000.00
b = formacao_em_projetos = 15000.00
c = formacao_em_marketing = 13000.00
d = formacao_em_produto = 18000.00
e = formacao_em_tecnologia = 19000.00

curso = int(input('Qual curso você quer escolher?:\n 1 = Formação de Dados\n 2 = Formação em Projetos\n 3 = Formação em Marketing\n 4 = Formação em Produtos\n 5 = Formação em Tecnologia.\n'))

if curso == 1:
 print("Você escolheu o curso Formação em Dados no valor de R$ 20000.00 que começará no próximo mês")

elif curso == 2:
  print("Você escolheu o curso Formação Projetos no valor de R$ 15000.00 que começará no próximo mês")
elif curso == 3:
   print("Você escolheu o curso Formação Marketing no valor de R$ 13000.00 que começará no próximo mês") 
elif curso == 4:
  print("Você escolheu o curso Formação Produto no valor de R$ 18000.00 que começará no próximo mês") 
elif curso == 5:
  print("Você escolheu o curso Formação Tecnologia no valor de R$ 19000.00 que começará no próximo mês")    
elif curso > 1 or curso < 5:
  print("Digite um valor correspondente a um curso de nossas formações \n1-Formação em dados \n2-Formação em projetos\n3-Formação em marketing\n4-Formação em produto\n5-Formação em tecnologia")

Qual curso você quer escolher?:
 1 = Formação de Dados
 2 = Formação em Projetos
 3 = Formação em Marketing
 4 = Formação em Produtos
 5 = Formação em Tecnologia.
0
Digite um valor correspondente a um curso de nossas formações
1-Formação em dados
2-Formação em projetos
3-Formação em marketing
4-Formação em produto
5-Formação em tecnologia

In [ ]:
formacao_em_dados = 45*20000.00
formacao_em_projetos = 30*15000.00
formacao_em_marketing = 20*13000.00
formacao_em_produto = 35*18000.00
formacao_em_tecnologia = 30*19000.00

receita_total = formacao_em_dados + formacao_em_projetos + formacao_em_marketing + formacao_em_produto + formacao_em_tecnologia
media_geral = (formacao_em_dados + formacao_em_projetos + formacao_em_marketing + formacao_em_produto + formacao_em_tecnologia)/5

if receita_total > 200000.00:
  print("Parabéns!!! A DNC bateu a meta do mês")

elif receita_total <= 200000.00: 
  print("Esse mês não batemos a meta, porém mês que vem vamos vir mais forte pra recuperar!!!")

Parabéns!!! A DNC bateu a meta do mês